<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <title>Pencoin</title>
</head>
<body>
    <header>
        <h1>This page is home page for Pencoin</h1><br>
        <h2>Welcome {{.UserName}} :D</h2>
    </header>
    <main>
        {{range .Blocks}}
        <section>
            <ul>
                <li>{{.Data}}</li>
                <li>{{.Hash}}</li>
                <li>{{.PrevHash}}</li>
            </ul>
        </section>
        {{end}}
    </main>
</body>
</html>